@font-face {
    font-weight: 300;
    font-family: 'Ubuntu';
    src: url("./src/assets/fonts/Ubuntu-Light.ttf");
}

@font-face {
    font-weight: 500;
    font-family: 'Ubuntu';
    src: url("./src/assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-weight: 700;
    font-family: 'Ubuntu';
    src: url("./src/assets/fonts/Ubuntu-Bold.ttf");
}



.wrapper {

    min-height: 90vh;
    margin: 0 5vw;
    font-family: 'Ubuntu';
    font-weight: 500;
    border-radius: 5vh;
    padding: 5vh;
}




/****************************** HEADER ***********************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/************************************************************************/



/**************************** CONTENT ***********************************/

.content {
    display: flex;
    justify-content: center;

}

.login {

    min-height: 80vh;
    display: flex;
    align-items: center;
}


.login input, .login label, .login span {
    border-radius: 5vh;
    padding: 1vh;
    width: 100%;
}

.form-separator {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.form-separator .hr {
    flex-grow: 2;
}

/************************************************************************/