/***************************** Main *************************/




@font-face {
    font-weight: 300;
    font-family: 'Ubuntu';
    src: url("./src/assets/fonts/Ubuntu-Light.ttf");
}

@font-face {
    font-weight: 500;
    font-family: 'Ubuntu';
    src: url("./src/assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-weight: 700;
    font-family: 'Ubuntu';
    src: url("./src/assets/fonts/Ubuntu-Bold.ttf");
}

body {
    background-color: #F5F5F5;
}


.wrapper {

    min-height: 90vh;
    margin: 0 5vw;
    font-family: 'Ubuntu';
    font-weight: 500;
    border-radius: 5vh;

}

a {
    text-decoration: none;
}

input:not([type=checkbox]) {
    min-width: 10rem;
    box-sizing: content-box;
    border: 0.1rem solid grey;
    border-radius: 2rem;
    padding: 1rem;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 0 1rem rgba(116, 116, 116, 0.3);
}

input[type=text] {
    color: #8692A6;
}

input[type=password] {
    color: #8692A6;
}

input[type=submit] {
    background-color: #8692A6;
    color: #FFFFFF;
}

input[type=button] {
    background-color: #FFFFFF;
}

input[type=submit]:hover {
    cursor: pointer;
}

input[type=button]:hover {
    cursor: pointer;
}

input[type=submit]:active {
    box-shadow:none;
}



.button-nav {
    padding: 0 1rem;
    color: #8692A6;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    cursor: pointer;
}

.button-nav-back::before {
    content:url('./src/assets/icons/back.png');
    margin-right: 5px;
}

.button-nav-exit::before {
    content:url('./src/assets/icons/exit.png');
    margin-right: 5px;
}


/************************************************************************/


/****************************** HEADER ***********************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.header input[type=button] {
    background-color: #8692A6;
}

.siteBar:hover {

    .site-logo {
        display: none;
    }

    .button-toMain {
        display: flex;
    }
}

.userBar:hover {
    
    .userBar-btn {
        display: none;
    }

    .userBar-menu {
        display: flex;
    }
}

.img-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.userBar-btn-avatar {
    margin: 0 1rem;
}

.avatar-box {

}

.userBar-btn {
    min-width: 10rem;
    box-sizing: content-box;
    color: #696F79;
    border-radius: 2rem;
    padding: 1rem;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.site-logo {
    color: #696F79;
}

.button-toMain {
    display: none;
}

.userBar-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    min-width: 10rem;
    box-sizing: content-box;
}









/************************************************************************/



/**************************** CONTENT ***********************************/

.content {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 3vh;

}

.login {

    min-height: 80vh;
    display: flex;
    align-items: center;
}
/************************************************************************/




/**************************** FORM **************************************/



label {
    color: #8692A6;
}

form input:not([type=checkbox]) {
    width: 20rem;
}

.form-item {
    margin: 0.5rem;
}

.form-header {
    margin-bottom: 1rem;
}

.form-header p {
    color: #8692A6;
}

.form-header * {
    margin: 0;
    padding: 0;
}

.form-input-box {
    display: flex;
    flex-direction: column;
}

.form-checkbox {
    display: flex;
}



.form-button {

}


.form-submit {
    margin-top: 2rem;

}

.form-separator {
    color: #8692A6;
    display: flex;
    justify-content: space-between;
}

.form-separator .hr {
    flex-grow: 1;
    padding: 0 5px;
}


/************************************************************************/